<div class="container">
  <button class="btn btn-primary" (click)="goToAdd()">Add User</button>
  <div class="row">
    <div class="col-md-4"><strong>User</strong></div>
    <div class="col-md-4"><strong>Email</strong></div>
    <div class="col-md-4"><strong>About Me</strong></div>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let user of users">
      <div class="row" [style.cursor]="'pointer'" (click)="goToEdit(user.id)">
        <div class="col-md-4">{{ user.first }} {{ user.last }}</div>
        <div class="col-md-4">{{ user.email }}</div>
        <div class="col-md-4">{{ user.aboutMe }}</div>
      </div>
    </li>
  </ul>
</div>
